                <!-- Right-hand side - Add Appointments -->
                <!-- Action selection -->
                <div class="mb-3">
                    <label class="form-label">Action</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="action" id="add" value="add" checked>
                        <label class="form-check-label" for="add">
                            Add Appointment
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="action" id="update" value="update">
                        <label class="form-check-label" for="update">
                            Update Appointment
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="action" id="delete" value="delete">
                        <label class="form-check-label" for="delete">
                            Delete Appointment
                        </label>
                    </div>
                </div>

                <form id="add-appointment-form">
                    <div class="add-element form-element" style="display: none;">
                        <div class="mb-3">
                            <label for="pxid" class="form-label">PX ID</label>
                            <input type="text" class="form-control" id="add_pxid" name="pxid" style="text-transform:uppercase;">
                            <div class="pxid-error"></div>
                        </div>
                        <div class="mb-3">
                            <label for="clinicid" class="form-label">Clinic ID</label>
                            <input type="text" class="form-control" id="add_clinicid" name="clinicid" style="text-transform:uppercase;">
                            <div class="clinicid-error"></div>
                        </div>
                        <div class="mb-3">
                            <label for="doctorid" class="form-label">Doctor ID</label>
                            <input type="text" class="form-control" id="add_doctorid" name="doctorid" style="text-transform:uppercase;">
                            <div class="doctorid-error"></div>
                        </div>
                        <div class="mb-3">
                            <label for="status" class="form-label">Status</label>
                            <select class="form-select" id="add_status" name="status">
                                <option value="Complete">Complete</option>
                                <option value="Queued">Queued</option>
                                <option value="Cancel">Cancel</option>
                                <option value="NoShow">No Show</option>
                                <option value="Serving">Serving</option>
                                <option value="Skip">Skip</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="QueueDate" class="form-label">Queue Date</label>
                            <input type="date" class="form-control" id="add_QueueDate" name="QueueDate">
                        </div>
                        <div class="mb-3">
                            <label for="app_type" class="form-label">Application Type</label>
                            <select class="form-select" id="add_app_type" name="app_type">
                                <option value="Consultation">Consultation</option>
                                <option value="Inpatient">Inpatient</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="is_Virtual" class="form-label">Virtual?</label>
                            <select class="form-select" id="add_is_Virtual" name="is_Virtual">
                                <option value="TRUE">TRUE</option>
                                <option value="FALSE">FALSE</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary form-element add-element submit-add">Submit</button>
                        <div class="add-submit-message"></div>
                    </div>
                </form>
                
                <form id="update-appointment-form">
                    <!-- Additional form elements for updating appointment -->
                    <div class="update-element form-element" style="display: none;">
                        <!-- Elements for updating appointment -->
                        <div class="mb-3">
                            <label for="pxid" class="form-label">Appointment ID</label>
                            <input type="text" class="form-control" id="update_apptid" name="pxid" style="text-transform:uppercase;">
                            <div class="pxid-error"></div>
                        </div>
                        <div class="mb-3">
                            <label for="pxid" class="form-label">PX ID</label>
                            <input type="text" class="form-control" id="update_pxid" name="pxid" style="text-transform:uppercase;">
                            <div class="pxid-error"></div>
                        </div>
                        <div class="mb-3">
                            <label for="clinicid" class="form-label">Clinic ID</label>
                            <input type="text" class="form-control" id="update_clinicid" name="clinicid" style="text-transform:uppercase;">
                            <div class="clinicid-error"></div>
                        </div>
                        <div class="mb-3">
                            <label for="doctorid" class="form-label">Doctor ID</label>
                            <input type="text" class="form-control" id="update_doctorid" name="doctorid" style="text-transform:uppercase;">
                            <div class="doctorid-error"></div>
                        </div>
                        <div class="mb-3">
                            <label for="status" class="form-label">Status</label>
                            <select class="form-select" id="update_status" name="status">
                                <option value="Complete">Complete</option>
                                <option value="Queued">Queued</option>
                                <option value="Cancel">Cancel</option>
                                <option value="NoShow">No Show</option>
                                <option value="Serving">Serving</option>
                                <option value="Skip">Skip</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="QueueDate" class="form-label">Queue Date</label>
                            <input type="date" class="form-control" id="update_QueueDate" name="QueueDate">
                        </div>
                        <div class="mb-3">
                            <label for="app_type" class="form-label">Application Type</label>
                            <select class="form-select" id="update_app_type" name="app_type">
                                <option value="Consultation">Consultation</option>
                                <option value="Inpatient">Inpatient</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="is_Virtual" class="form-label">Virtual?</label>
                            <select class="form-select" id="update_is_Virtual" name="is_Virtual">
                                <option value="TRUE">TRUE</option>
                                <option value="FALSE">FALSE</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary form-element update-element submit-update">Submit</button>
                        <div class="update-submit-message"></div>
                    </div>
                </form>
                
                <form id="delete-appointment-form">
                    <!-- Additional form elements for deleting appointment -->
                    <div class="delete-element form-element" style="display: none;">
                        <!-- Elements for deleting appointment -->
                        <div class="mb-3">
                            <label for="is_Virtual" class="form-label">Virtual? In Delete</label>
                            <select class="form-select" id="is_Virtual" name="is_Virtual">
                                <option value="TRUE">TRUE</option>
                                <option value="FALSE">FALSE</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary submit-delete">Submit</button>
                    </div>
                </form>

                <script src="add_form_script.js"></script>
                <script src="update_form_script.js"></script>
                <script src="delete_form_script.js"></script>